In [141]:
import sqlite3
import pandas as pd

In [142]:
#read data 
energy_df = pd.read_csv(r"C:\Users\grego\Documents\GitHub\renewable-energy-website\raw_data\energy_dataset.csv")
energy_df.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [143]:
#convert time column to datetime and remove time zone
energy_df['time'] = pd.to_datetime(energy_df['time'], utc=True)


#Reformat the time column to only show the date and 24 hour time
energy_df['time'] = energy_df['time'].dt.strftime('%Y-%m-%d %H:%M:%S')

#convert time column back to datetime and remove time zone
energy_df['time'] = pd.to_datetime(energy_df['time'], utc=False)

#drop null columns
energy_df = energy_df.dropna(axis=1, how='all')

#set time as index
energy_df = energy_df.set_index('time', drop=True)

energy_df.head()

,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,generation hydro pumped storage consumption,...,generation solar,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
time,,,,,,,,,,,,,,,,,,,,,
2014-12-31 23:00:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,863.0,...,49.0,196.0,0.0,6378.0,17.0,6436.0,26118.0,25385.0,50.10,65.41
2015-01-01 00:00:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,920.0,...,50.0,195.0,0.0,5890.0,16.0,5856.0,24934.0,24382.0,48.10,64.92
2015-01-01 01:00:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,1164.0,...,50.0,196.0,0.0,5461.0,8.0,5454.0,23515.0,22734.0,47.33,64.48
2015-01-01 02:00:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,1503.0,...,50.0,191.0,0.0,5238.0,2.0,5151.0,22642.0,21286.0,42.27,59.32
2015-01-01 03:00:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,1826.0,...,42.0,189.0,0.0,4935.0,9.0,4861.0,21785.0,20264.0,38.41,56.04

In [144]:
#only renewable resource columns
renewable_df = pd.concat([energy_df.iloc[:,8:14],energy_df.iloc[:,15:20]], axis=1)

renewable_df.head()

,generation geothermal,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation marine,generation nuclear,generation other renewable,generation solar,generation waste,generation wind offshore,generation wind onshore
time,,,,,,,,,,,
2014-12-31 23:00:00,0.0,863.0,1051.0,1899.0,0.0,7096.0,73.0,49.0,196.0,0.0,6378.0
2015-01-01 00:00:00,0.0,920.0,1009.0,1658.0,0.0,7096.0,71.0,50.0,195.0,0.0,5890.0
2015-01-01 01:00:00,0.0,1164.0,973.0,1371.0,0.0,7099.0,73.0,50.0,196.0,0.0,5461.0
2015-01-01 02:00:00,0.0,1503.0,949.0,779.0,0.0,7098.0,75.0,50.0,191.0,0.0,5238.0
2015-01-01 03:00:00,0.0,1826.0,953.0,720.0,0.0,7097.0,74.0,42.0,189.0,0.0,4935.0

In [145]:
#resample to daily instead of hourly
daily_renewable_df = renewable_df.resample('D').mean()
daily_renewable_df.head()

,generation geothermal,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation marine,generation nuclear,generation other renewable,generation solar,generation waste,generation wind offshore,generation wind onshore
time,,,,,,,,,,,
2014-12-31,0.0,863.000000,1051.000000,1899.000000,0.0,7096.000000,73.000000,49.000000,196.000000,0.0,6378.000000
2015-01-01,0.0,1088.208333,1056.916667,2249.041667,0.0,7097.416667,73.500000,1143.666667,201.041667,0.0,3994.000000
2015-01-02,0.0,1510.833333,1300.000000,3708.625000,0.0,7105.416667,61.958333,1252.541667,186.583333,0.0,11060.041667
2015-01-03,0.0,1361.083333,1378.041667,3897.416667,0.0,7094.958333,65.833333,1145.875000,202.333333,0.0,9137.250000
2015-01-04,0.0,573.541667,1481.916667,3245.291667,0.0,6956.541667,58.041667,2402.458333,159.125000,0.0,8016.125000

In [146]:
#which columns sum to 0?
daily_renewable_df.sum(axis=0)

generation geothermal                          0.000000e+00
generation hydro pumped storage consumption    6.958084e+05
generation hydro run-of-river and poundage     1.421390e+06
generation hydro water reservoir               3.808070e+06
generation marine                              0.000000e+00
generation nuclear                             9.158093e+06
generation other renewable                     1.251850e+05
generation solar                               2.092953e+06
generation waste                               3.938202e+05
generation wind offshore                       0.000000e+00
generation wind onshore                        7.990176e+06
dtype: float64

In [147]:
#drop all non-value columns
daily_renewable_df = daily_renewable_df.loc[:, (daily_renewable_df != 0).any(axis=0)]
daily_renewable_df.head()

,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other renewable,generation solar,generation waste,generation wind onshore
time,,,,,,,,
2014-12-31,863.000000,1051.000000,1899.000000,7096.000000,73.000000,49.000000,196.000000,6378.000000
2015-01-01,1088.208333,1056.916667,2249.041667,7097.416667,73.500000,1143.666667,201.041667,3994.000000
2015-01-02,1510.833333,1300.000000,3708.625000,7105.416667,61.958333,1252.541667,186.583333,11060.041667
2015-01-03,1361.083333,1378.041667,3897.416667,7094.958333,65.833333,1145.875000,202.333333,9137.250000
2015-01-04,573.541667,1481.916667,3245.291667,6956.541667,58.041667,2402.458333,159.125000,8016.125000

In [149]:
#connect to dB
conn = sqlite3.connect('renewable_spain.db')
c = conn.cursor()
daily_renewable_df.to_sql('renewable_fuel_generation', conn, if_exists='replace', index=False)
#read table names from the dB
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('energy_dataset',), ('time_stamps',), ('fossil_fuel_generation',), ('renewable_fuel_generation',)]